@font-face {
    font-family: "ArticulatCF-Light";
    font-style: normal;
    font-weight: normal;
    src: local('ArticulatCF-Light'), url("../fonts/ArticulatCF-Light.ttf") format("truetype");
}
@font-face {
    font-family: "ArticulatCF-Medium";
    font-style: normal;
    font-weight: normal;
    src: local('ArticulatCF-Medium'), url("../fonts/ArticulatCF-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "ArticulatCF-Normal";
    font-style: normal;
    font-weight: normal;
    src: local('ArticulatCF-Normal'), url("../fonts/ArticulatCF-Normal.ttf") format("truetype");
}
@font-face {
    font-family: "DIN-2014_Bold";
    font-style: normal;
    font-weight: normal;
    src: local('DIN-2014_Bold'), url("../fonts/DIN-2014_Bold.woff") format("woff");
}
@font-face {
    font-family: "DIN-2014_Demi";
    font-style: normal;
    font-weight: normal;
    src: local('DIN-2014_Demi'), url("../fonts/DIN-2014_Demi.woff") format("woff");
}
@font-face {
    font-family: "DIN-2014_Light";
    font-style: normal;
    font-weight: normal;
    src: local('DIN-2014_Light'), url("../fonts/DIN-2014_Light.woff") format("woff");
}
@font-face {
    font-family: "DIN-2014_Regular";
    font-style: normal;
    font-weight: normal;
    src: local('DIN-2014_Regular'), url("../fonts/DIN-2014_Regular.woff") format("woff");
}
@font-face {
    font-family: "futura light bt";
    font-style: normal;
    font-weight: normal;
    src: local('futura light bt'), url("../fonts/futura light bt.ttf") format("truetype");
}
@font-face {
    font-family: "futura medium bt";
    font-style: normal;
    font-weight: normal;
    src: local('futura medium bt'), url("../fonts/futura medium bt.ttf") format("truetype");
}