button,
[type=button],
[type=reset],
[type=submit] {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}
.btn-X{
    height:51px;
    line-height:51px;
}
.btn-L{
    height:59px;
    line-height:59px;
}
.pre-order-btn{
    width:100%;
    button{
        width:100%;
        height: 41px;
       background-color:rgba(0, 0, 0, 0.50);
       z-index:9;
       &.slick-disabled{
        display:none !important;
       }
    }
}
.filter-button{
    button{
        background-color:rgba(255, 255, 255, 0.10);
    }
}

.quantity-btn{
    height:22px !important;
    line-height:22px !important;
    width:22px !important;
    font-family:"Gotham-Book, Gotham";
}